html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
* {
  box-sizing: border-box;
}
:root {
  --clr-primary: #227ed3;
  --font-main: "Quicksand", sans-serif;
  --page-color: #fffff2;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
