section#mainhero {
  height: calc(100vh - 75px);
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 0px 40px;
}
.left {
  flex: 0.5;
  background-color: rgb(255, 255, 255);
  padding: 120px 70px;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  min-width: 200px;
  justify-content: space-around;
}
.left h1 {
  font-family: "Quicksand";
  font-size: 5.2rem;
  font-weight: 900;
  line-height: 1.1;
  display: inline;
  margin: 0px;
}
.left h1 span {
  position: relative;
}

.left h1 span::before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 5px;
  border-radius: 22px;
  background-color: var(--clr-primary);
}
.left p {
  width: auto;
  color: #555a65;
}
.left button {
  width: 180px;
  color: var(--page-color);
  height: 55px;
  background-color: var(--clr-primary);
  font-size: 1.2rem;
  font-weight: 600;
  border: 0;
  border-radius: 7px;
  cursor: pointer;
  transition: all 200ms ease;
}
.left button:hover {
  border: 2px solid var(--clr-primary);
  background-color: var(--page-color);
  color: var(--clr-primary);
}
.right {
  flex: 0.5;
  padding: 30px 70px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.right Image {
  object-fit: cover;
}
@media screen and (max-width: 1050px) {
  section#mainhero * {
    padding: 1rem 0 !important;
  }
  section#mainhero {
    justify-content: center;
    height: 70vh;
  }
  .left h1 {
    font-size: 3rem;
  }
  .left {
    flex: 1;
    width: 100%;
  }
}
@media screen and (max-width: 1050px) {
  section#mainhero .right {
    display: none;
    justify-content: center;
  }
}
